<div class="container">
    <h2>User List</h2>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.firstName+ ' ' + user.lastName}}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.gender }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination Controls -->
    <div class="pagination">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
        Previous
      </button>
  
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
  
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
